
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

<style>
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 40%;
    }
</style>
<html>

<h2>İletişim</h2>
<table class="table table-bordered" style="margin-top: 5%;text-align: center">
    <tr>
        <th><b>E Mail: </b></th>
        <th>sudekosar@stu.ayvansaray.edu.tr</th>
    </tr>
    <tr>
        <th><b>Telefon Numarasi: </b></th>
        <th>+90 539 563 50 42</th>
    </tr>
    <tr>
        <th><b>Sosyal Medya: </b></th>
        <th><a href="https://www.instagram.com/"><img src="~/Resim/580b57fcd9996e24bc43c521.png" style="height: 5%;width: 5%" /> </a><a href="https://www.facebook.com/"><img src="~/Resim/Popular-facebook-Logo-png.png" style="height: 5%; width: 5% " /> </a><a href="https://twitter.com/?lang=tr"><img src="~/Resim/Logo-Twitter-icon-transparent-PNG.png" style="height: 5%; width: 5% " /> </a></th>
    </tr>
    <tr colspan="4">
        <th>Sikayet ve Sorular icin : </th>
    </tr>
    <tr>
        <form>
        <th> <label for="messageTitle">Baslik:</label></th>
        <th><input type="text" id=""></th>
    <tr>
        <th><label for="message">Mesajiniz:</label></th>
        <th><textarea rows="2" cols="20 value=" "></textarea></th>
        <th><input type="submit" value="Gonder"></th>
    </tr>
    </form >
    </tr>
</table>

</html>
