@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<body>
    <div>
        <hr />
        <ul>

            <a href="~/Moda/Culture">
            <li class="w3-button" style="margin-left: 30%;margin-top: 10px">

                <h1>Kultur </h1>
                <img src="~/Resim/modak.png" style="height: 44%;width: 95%"/>
            </li></a>

            <a href="~/Moda/Beauty">
            <li class="w3-button" style="margin-left: 30%; margin-top: 10px">

                <h1>Guzellik </h1>
                <img src="~/Resim/beauty-17agust.jpg" />
            </li></a>

            <a href="~/Moda/Life">
            <li class="w3-button" style="margin-left: 30%; margin-top: 10px">

                <h1>Hayat Tarzi </h1>
                <img src="~/Resim/Lifestyle.jpg" />
            </li></a>
        </ul>
        <hr />
    </div>
</body>