@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-size: cover;font-family: 'Open Sans', sans-serif;">
    <div class="main-section">

        <div style="width: 55%; margin: 80px auto; background: #fff; padding: 4em 2em;">
            <div style="width: 25%;float: left;margin-left: 45px;">
                <img src="~/Resim/02314211441.jpeg" style="height: 218%;width: 116%" />
            </div>
            <div style="float: right;width: 60%;margin-right: 45px;">
                <h3 style="font-size: 32px;text-align: center;color: #E91E63;font-weight: 600;font-family: 'Text Me One', sans-serif;">Sude Kosar</h3>
                <h5 style="text-align: center;font-size: 22px;margin-bottom: 10px;font-family: 'Text Me One', sans-serif;font-weight: 600;letter-spacing: 2px;"></h5>
                <ul style="border-top: 2px dotted #00bcd4;padding-top: 0.5em;">
                    <li>
                        <ul class="agileits-address-text ">
                            <li class="agile-it-adress-left"><b>Dogum Tarihi: </b></li>
                            <li><span>:</span>01-01-2001</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>Telefon: </b></li>
                            <li><span>:</span>(+90) 526 458 0052</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>Adress: </b></li>
                            <li><span>:</span>Sisli/Istanbul - Turkiye</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li class="agile-it-adress-left"><b>E-Mail: </b></li>
                            <li><span>:</span><a href="mailto:sudekosar@stu.ayvansaray.edu.tr"> sudekosar@stu.ayvansaray.edu.tr</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="clear"></div>
        </div>
    </div>

</body>
</html>