
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<body>
<div>
    <h1 style="margin-left: 40%">Haberler</h1>
    <ul>

        <a href="https://onedio.com/haber/takilariyla-goz-kamastirmak-isteyenler-icin-en-moda-21-parca-1058565">
            <li class="w3-button" style="margin-left: 10%; margin-top: 10px; height: 200%; width: 75%">

                <h1>Takılarıyla Göz Kamaştırmak İsteyenler İçin En Moda 21 Parça </h1>
                <img src="~/Resim/dasdab37172134e4a20addd5b7f69235be3a71.jpg" style="width: 60%; height: 22%"/>
            </li></a>

        <a href="https://onedio.com/haber/2022-trend-alarmi-bu-yil-herkesin-uzerinde-gorecegimiz-en-moda-parcalari-mercek-altina-aliyoruz-1049936">
            <li class="w3-button" style="margin-left: 10%; margin-top: 10px">

                <h2>2022 Trend Alarmı: Bu Yıl Herkesin Üzerinde Göreceğimiz En Moda Parçaları Mercek Altına Alıyoruz </h2>
                <img src="~/Resim/s-41060be68b5f7b47d88fc42657b5bb91471049c9.jpg" style="width: 60%; height: 22%"/>
            </li></a>

        <a href="https://www.ntv.com.tr/galeri/n-life/moda-ve-guzellik/moda-ile-teknoloji-birlesti-metaverse-moda-haftasi,h13q-vpXwUKtqGHt2WIddg">
            <li class="w3-button" style="margin-left: 30%; margin-top: 10px">

                <h1>Moda ile teknoloji birleşti: Metaverse Moda Haftası </h1>
                <img src="~/Resim/fG1RQwYDD0ivGFCfsa4Bmg.jpg" style="width: 60%; height: 22%"/>
            </li></a>
        <a href="https://www.sabah.com.tr/cumartesi/2022/04/02/moda-dunyasi-metaversee-adapte-oldu">
            <li class="w3-button" style="margin-left: 30%; margin-top: 10px">

                <h1>Moda dünyası Metaverse’e adapte oldu </h1>
                <img src="~/Resim/752x395-moda-dunyasi-metaversee-adapte-oldu-1648866999818.jpeg" style="width: 70%; height: 30%"/>
            </li></a>
    </ul>
</div>
</body>
